[Unit]
Description=lafdb API server
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/lafdb
WorkingDirectory=${LAFDB_HOME}
ExecStart=${LAFDB_HOME}/bin/lafdb --cf-csp --duckdb-cache ${LAFDB_HOME}/laftel/data.duckdb
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
