[Unit]
Description=lafdb DRM key collector (daemon)
After=network.target lafdb-cdm.service
BindsTo=lafdb-cdm.service

[Service]
Type=simple
EnvironmentFile=/etc/default/lafdb
WorkingDirectory=${LAFDB_HOME}
ExecStartPre=/usr/bin/sleep 3
ExecStart=${LAFDB_HOME}/bin/drm --token ${LAFTEL_TOKEN} --daemon --skip-failed --server-duckdb-cache --proxies ${LAFDB_HOME}/proxies.txt
Restart=on-failure

[Install]
WantedBy=multi-user.target
